.container-myspace {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
        "Navbar"
        "Content";
}

#Content {
    grid-area: Content;
}

#Navbar {
    grid-area: Navbar;
}

.marker {
    background-image: url('../public/assets/images/eni-logo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }